<div class="application">
  <form [formGroup]="inputsForm" class="form">
    <nz-input-group>
      <input type="text" nz-input placeholder="Name" formControlName="name"/>
    </nz-input-group>
    <app-select [options]="forGenre"
                formControlName="genre"
                [placeholder]="'Genre'"
    ></app-select>
    <app-select [options]="forPremiere"
                formControlName="premiere"
                [placeholder]="'Premiere Year'"
    ></app-select>
  </form>
  <nz-table
      #rowSelectionTable
      nzShowSizeChanger
      [nzPageSizeOptions]="paginationNumbers"
      [nzData]="films"
      [nzPageSize]="pageSize"
      [(nzPageIndex)]="pageIndex"
  >
    <thead nzSingleSort (nzSortChange)="sort($event)">
    <tr>
      <th nzShowSort nzSortKey="name">Name</th>
      <th>Season</th>
      <th>Network</th>
      <th nzShowSort nzSortKey="premiere">Premiere</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let film of rowSelectionTable.data">
      <td class="name">
        <p>{{film.name}}</p>
        <div class="genres">
          <p class="genre" *ngFor="let genre of film.genre">{{genre}}</p>
        </div>
      </td>
      <td>{{film.season}}</td>
      <td>{{film.network}}</td>
      <td>{{film.premiere}}</td>
    </tr>
    </tbody>
  </nz-table>
</div>
